<h2>Вход за администратор</h2>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">@ViewBag.Error</div>
}

<form method="post">
    <div class="form-group">
        <label>Потребителско име</label>
        <input name="username" class="form-control" />
    </div>
    <div class="form-group">
        <label>Парола</label>
        <input name="password" type="password" class="form-control" />
    </div>
    <button class="btn btn-primary mt-2">Вход</button>
</form>
